<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Hello World</title>
</head>

<body>
    <h1>Hello World</h1>
    <a href="./create">생성하러 가장</a>
    <a href="./read">읽으러 가장</a>
    
</body>
</html>